.DS_Store
**/ .DS_Store
# dependencies
node_modules/
**/node_modules/
desktop-app/node_modules/

# electron build artifacts (если есть)
dist/
build/
out/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
